<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>重复添加多个input</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <div v-for="(i, index) in obj">
            <input type="text" v-model="obj[index].value1" />
            <input type="text" v-model="obj[index].value2" />
        </div>
        <button @click="add">+</button>
        <button @click="con">打印</button>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                obj: [
                    {
                        value1: 1,
                        value2: 2
                    }
                ]
            },
            methods: {
                add() {
                    item= {value1: '', value2: ''}
                    this.obj.push(item);
                },
                con() {
                    console.log(this.obj);
                }
            }
        });
    </script>
</body>
</html>