<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>基础篇demo</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <div id="app">
    <!-- 性别 -->
    <div class="box" v-show="sexShow">
      <div class="main">
        <content-box title="1.请问您的性别是：">
          <radio-btn v-for="i in sexArr" @change-input="changeInputValue" :label="isChecked" :key="i.id" v-model="i.sex" :id="i.id"></radio-btn>
        </content-box>
      </div>
      <div class="bottom">
        <next-btn :is-checked="isChecked" @change-sex-show="onSexShow"></next-btn>
        <reset-btn :reset-val="isChecked" @change-reset-val="onResetVal"></reset-btn>
      </div>
    </div>
    <!-- 爱好 -->
    <div class="box" v-show="hobbyShow">
      <div class="main">
        <content-box title="1.请问您的兴趣爱好是：">
          
        </content-box>
      </div>
      <div class="bottom">
        <next-btn></next-btn>
      </div>
    </div>
    <!-- 介绍 -->
    <div class="box" v-show="introduceShow">
      <div class="main">
        <content-box title="1.请问您介绍一下自己：">

        </content-box>
      </div>
      <div class="bottom">
        <next-btn></next-btn>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="./components/contentBox.js"></script>
  <script src="./components/radio.js"></script>
  <script src="./components/nextBtn.js"></script>
  <script src="./components/resetBtn.js"></script>
  <script src="./index.js"></script>
</body>

</html>